:root {
  --primary-color: #415167;
  --accent-color-dark: #C7A17A;
  --accent-color-light: #F9F5E8;
  --dark-gray: #151D28;
  --light-gray: #EDF0F5;

  --font-family: 'Nunito', sans-serif;
  --second-family: 'Montserrat', sans-serif;

  --container-max-width: 1100px;
  --container--padding-x: 10px;
}

.container {
  max-width: calc(var(--container-max-width) + var(--container--padding-x) * 2);
  padding-inline: var(--container--padding-x);
  margin-inline: auto;
}

.header {
  height: 768px;
  position: relative;
}

.header::before {
  content: '';
  position: absolute;
  top: -72px;
  left: 0;
  width: 1072px;
  height: 768px;
  background: url('../images/header-bg.png') center/contain no-repeat;
  z-index: -1;
}

.header__inner {
  margin-top: 72px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  max-width: calc(1040px + var(--container--padding-x) * 2);
}

.header__title {
  position: relative;
  top: 300px;
  left: -30px;
  max-width: 490px;
  font-family: var(--second-family);
  font-weight: 900;
  font-size: 54px;
  color: var(--primary-color);
}

.header__title span {
  color: #F9FBFF;
  position: relative;
  left: -18px;
  padding: 6px 18px;
  background-color: var(--accent-color-dark);
}

.cart {
  flex-shrink: 0;
}

.header__menu {
  padding-top: 230px;
  padding-left: 56px;
  z-index: -1;
  position: absolute;
  top: -72px;
  right: -30px;
  background-color: var(--primary-color);
  color: var(--light-gray);
  font-family: var(--font-family);
  font-size: 16px;
  display: flex;
  row-gap: 30px;
  flex-direction: column;
  width: 428px;
  height: 100%;
}

.header__menu-title {
  font-weight: 700;
}

.header__menu-list {
  display: flex;
  row-gap: 25px;
  flex-direction: column;
}

.header__menu-item {
  font-weight: 300;
}

/* Features */
.feature__inner {
  display: flex;
  row-gap: 72px;
  flex-direction: column;
  padding-block: 90px 130px;
}

.feature__header {
  text-align: center;
  display: flex;
  row-gap: 9px;
  flex-direction: column;
}

.subtitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  color: var(--primary-color);
}

.title {
  font-family: var(--second-family);
  font-weight: 900;
  font-size: 30px;
  color: var(--primary-color);
}

.feature__list {
  display: flex;
  justify-content: space-between;
}

.feature__list-item {
  width: 226px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  row-gap: 42px;
}

.feature__list-content {
  display: flex;
  row-gap: 12px;
  flex-direction: column;
}

.feature__list-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
}

.feature__list-desc {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
}

/* Footer */
.footer {
  text-align: center;
  padding-block: 18px 20px;
  background-color: var(--light-gray);
}

.footer__copyright {
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  font-family: var(--font-family);
  color: var(--primary-color);
}
