:root {
  --primary-color: #415167;
  --accent-color-dark: #C7A17A;
  --accent-color-light: #F9F5E8;
  --dark-gray: #151D28;
  --light-gray: #EDF0F5;

  --font-family: 'Nunito', sans-serif;
  --second-family: 'Montserrat', sans-serif;
}
